body
{
background-color:#F7F7F7 ;

}

p
{
font-family:"Times New Roman";
font-size:12px;
}



#header{
    position:absolute;
    left:10%;
    height:20%;
    width:80%;
    color:white;
    border-radius: 8px;
   
    padding: 5px;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #F7F7F7 0%, #0066FF 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #F7F7F7 0%, #0066FF 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #F7F7F7 0%, #0066FF 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7F7F7), color-stop(1, #0066FF));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #F7F7F7 0%, #0066FF 100%);

    /* W3C Markup, IE10 Release Preview */ 
`
 


}

#header h1{
    font-size: 40px;
    text-align: center;


}
#logoL{
    position: absolute;
   
    left:20%;
}
#logoR{
    position: absolute;
   
    left:70%;
}
#login {
    position: absolute;
    left: 77%;
    width:30%;
    top:6%;
}

#search-bar{
    position: absolute;
    top:10%;
    background-color: #0066FF;
}
#main{
    position:absolute;
    width:80%;
    left: 10%;
    height:70%;
    background-color:white;
    border-radius: 5px;
    padding:5px;
    top:40%;
}

#map{
    background-color: white;
    position: absolute;
    width:98%;
    top:10%;
    border-radius: 5px;

   
    

}
#explain{
    position: absolute;
    background-color: white;
    top:40%;
    width: 98%;
    
    border-radius: 5px; 

}


#footer{
    position: absolute;
    width:80%;
    left:10%;
    height:10%;
    bottom:0;
}

#footer ul {
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
}

#footer a {
    float:left;
    width:6em;
    text-decoration:none;
    color:white;
    background-color:purple;
    padding:0.2em 0.6em;
    border-right:1px solid white;
}

#footer li { 
    display:inline;
}

